.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 51px;
  margin-top: 40px;
}

.profile__info {
  display: grid;
  align-items: center;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__descr {
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__img {
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  transition: filter 0.3s ease;
}

.profile__avatar {
  position: relative;
  display: inline-block;
}

.profile__avatar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  transition: all 0.3s ease;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  background-size: auto auto;
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  border: white 1px solid;
  grid-area: button;
  margin-left: 18px;
  cursor: pointer;
}
.profile__add-button {
  height: 50px;
  width: 150px;
  margin-left: auto;
  background: transparent url(../images/add-icon.svg) center no-repeat;
  border: white 2px solid;
  cursor: pointer;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__avatar-button::before {
  content: url(../images/icons/edit-button.svg);
  opacity: 0.85;
}

.profile__avatar:hover .profile__avatar-button {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.container:hover .profile__img {
  filter: blur(4px);
}

@media screen and (min-width: 320px) and (max-width: 740px) {
  .profile {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .profile__img {
    margin: 38px 0 0;
  }

  .profile__descr {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 26px;
    max-width: 282px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 196px;
    text-align: center;
    margin-bottom: 0;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-left: 10px;
  }

  .profile__add-button {
    width: calc(100% - 38px);
    padding: 0;
    margin: 36px 19px;
    background-size: 16px 16px;
  }
}
